<script src="https://use.fontawesome.com/59f07e9971.js"></script>
<g:render template="../header" />
<script src="https://apis.google.com/js/api:client.js"></script>
<script>
    var googleUser = {};
    var startApp = function() {
        gapi.load('auth2', function(){
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: 'YOUR_CLIENT_ID.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                // Request scopes in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });
            attachSignin(document.getElementById('customBtn'));
        });
    };

    function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
            function(googleUser) {
                document.getElementById('name').innerText = "Signed in: " +
                    googleUser.getBasicProfile().getName();
            }, function(error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }
</script>


<link rel="stylesheet" href="${resource(dir: 'stylesheets', file: 'bootstrap-social.css')}" type="text/css">
<title>Login | Tejas Ai</title>
<body bgcolor="#dc143c">

<br><BR><BR><BR><BR><BR><BR>
<div class="container">
    <div class="row vertical-offset-100">

        <div class="col-md-4 col-md-offset-4">



            <div id="gSignInWrapper">

                <div class="btn btn-block btn-social btn-google customGPlusSignIn">
                    <span class="fa fa-google"></span> Sign in with Google
                </div></div></><br>
            <g:link action="index" controller="Facebookoauth" >
                <div class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </div></g:link><br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>

                </div>

                <body bgcolor="#dc143c">
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form"  action="${postUrl ?: '/login/authenticate'}" method="POST" id="loginForm">
                        <fieldset>
                            <div class="fheader"><g:message code='springSecurity.login.header'/></div>
                            <g:if test='${flash.message}'>
                                <font color="red"><div class="login_message">${flash.message}</div></font>
                            </g:if><br>

                            <form action="${postUrl ?: '/login/authenticate'}" method="POST" id="loginForm" class="cssform" autocomplete="off">
                                <p>
                                    <label for="username"><g:message code='springSecurity.login.username.label'/>:</label>
                                    <input type="text" class="text_" name="${usernameParameter ?: 'username'}" id="username"/>
                                </p>
                                <p>
                                    <label for="password"><g:message code='springSecurity.login.password.label'/>:</label>
                                    <input type="password" class="text_" name="${passwordParameter ?: 'password'}" id="password"/>
                                </p>
                                <p id="remember_me_holder">
                                    <input type="checkbox" class="chk" name="${rememberMeParameter ?: 'remember-me'}" id="remember_me" <g:if test='${hasCookie}'>checked="checked"</g:if>/>
                                    <label for="remember_me"><g:message code='springSecurity.login.remember.me.label'/></label>
                                </p>
                                <p>
                                    <input type="submit"  class="btn btn-danger" id="submit" value="${message(code: 'springSecurity.login.button')}"/>
                                </p>
                            </form>
                </div>
            </div>

        </div>

    </div>
</div>